<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/styles.css">
  <title><%= title%></title>
</head>
<body>
  <h1>Products</h1>
  <div class="products-list">
    <% products.forEach(product => { %>
      <div class='card-container'>
        <div class="card-body">
          <h4><%= product.title %></h4>
          <p><%= product.author %> - <span><%= product.price %></span></p>
          <img src=<%= product.thumbnail%> alt="Book cover">
        </div>
      </div>
    <%}) %>
  </div>
  <button id='add-book'>Add book</button>
  <script src='/public/index.js'></script>
</body>
</html>