html
  head
    title=title
    link(rel="stylesheet" href="/public/styles.css")
  body
    div
      h1='Add Book'
      div(class='form-container')
        form(id="bookForm" name='bookForm')
          label(for='title')= 'Title'
          input(type='text' name='title' required)
          label(for='author')= 'Author'
          input(type='text' name='author' required)
          label(for='thumbnail')= 'Cover link'
          input(type='text' name='thumbnail' required)
          label(for='price')= 'Price'
          input(type='number' name='price' required)
          button(type='submit' id='submit-btn')= 'Submit'
    button(id='show-books')= 'Show books'
    script(type='text/javascript' src='public/index.js')